# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.venv/
.ipynb_checkpoints/

# Data & outputs
data/
processed/
outputs/
*.zip

# PyTorch
*.pt
*.pth

# OS
.DS_Store

# Git LFS attributes
.gitattributes
